button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-background {
  height: 100%;
  width: 100%;
  background-color: #f2cd5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.login-title {
  font-size: 5rem;
}

.login-foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  flex-direction: column;
  gap: 5rem;
  /* background-color: red; */
}

.input-response {
  height: 5rem;
  width: 50rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 5rem;
  background-color: gray;
  color: white;
}
input::-webkit-input-placeholder {
  color: white;
}
.buttons-container {
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.login-button {
  height: 6rem;
  background-color: beige;
  color: white;
  width: 10%;
  text-overflow: clip;
  background-color: gray;
  border-radius: 5rem;
}

.login-text {
  font-size: 2rem;
  text-align: center;
}

.warningText{
  /* height: 6rem; */
  position:absolute;
  background-color: red;
  color: white;
  /* width: 10%; */
  text-overflow: clip;
  background-color: red;
  border-radius: 10rem;
  padding: 7px;
  top:12rem;
  left:55rem;
}

.lobby-create-background{
  height: 100%;
  width: 100%;
  background-color: #f2cd5c;
  display: flex;
  gap:5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 5.2px;
    /* background-color: blue; */
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 5px;
    /* background-color: black; */
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    font-size: 10px;
    /* background-color: yellow; */
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 8px;
    /* background-color: aqua; */
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 12px;
    /* background-color: green; */
  }
}
